defaults/flow.json
[{"id":"b15acb60.153cd8","type":"tab","label":"Flow 1"},{"id":"fee08dd2.6a869","type":"http in","z":"b15acb60.153cd8","name":"","url":"/input","method":"get","swaggerDoc":"","x":210.5,"y":277,"wires":[["bf3da5c3.693c08"]]},{"id":"bf3da5c3.693c08","type":"template","z":"b15acb60.153cd8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","x":388.5,"y":277,"wires":[["bb3af17b.32a0e"]]},{"id":"bb3af17b.32a0e","type":"http response","z":"b15acb60.153cd8","name":"","x":572.5,"y":275,"wires":[]}]
